* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-confirm-dialog {
    margin: auto !important; /* Centraliza o diálogo */
    padding: 20px; /* Adiciona padding ao diálogo */
    box-sizing: border-box; /* Garante que o padding seja incluído na largura/altura total */
  }
  
  .p-confirm-dialog .p-dialog-header,
  .p-confirm-dialog  {
    padding: 21px; /* Adiciona padding ao header e footer do diálogo */
  }
  
  .p-confirm-dialog .p-button {
    margin: 0 5px; /* Adiciona margem aos botões */
  }

  .p-dialog-content {
    padding: 0px 21px 28px;
  }

  .p-dialog-footer {
    padding: 0px 21px 21px;
  }

  .p-confirm-dialog-message {
    margin-left: 14px;
  }

  .p-button {
    padding: 10.5px 17.5px;
    border-radius: 6px;
  }